# Source: https://gitattributes.io/api/unity

# Unity
*.cs                 text diff=csharp eol=lf
*.cginc              text
*.shader             text

# Unity YAML
*.mat                merge=unityyamlmerge eol=lf
*.anim               merge=unityyamlmerge eol=lf
*.unity              merge=unityyamlmerge eol=lf
*.prefab             merge=unityyamlmerge eol=lf
*.asset              merge=unityyamlmerge eol=lf
*.meta               merge=unityyamlmerge eol=lf
*.controller         merge=unityyamlmerge eol=lf

# "physic" for 3D but "physics" for 2D
*.physicMaterial2D   merge=unityyamlmerge eol=lf
*.physicMaterial     merge=unityyamlmerge eol=lf
*.physicsMaterial2D  merge=unityyamlmerge eol=lf
*.physicsMaterial    merge=unityyamlmerge eol=lf

# Using Git LFS
# Add diff=lfs merge=lfs to the binary files

# Unity LFS
*.cubemap            binary diff=lfs merge=lfs filter=lfs
*.unitypackage       binary diff=lfs merge=lfs filter=lfs

# 3D
*.fbx                binary diff=lfs merge=lfs filter=lfs

# Audio
*.aif                binary diff=lfs merge=lfs filter=lfs
*.aiff               binary diff=lfs merge=lfs filter=lfs
*.it                 binary diff=lfs merge=lfs filter=lfs
*.mod                binary diff=lfs merge=lfs filter=lfs
*.mp3                binary diff=lfs merge=lfs filter=lfs
*.ogg                binary diff=lfs merge=lfs filter=lfs
*.s3m                binary diff=lfs merge=lfs filter=lfs
*.wav                binary diff=lfs merge=lfs filter=lfs
*.xm                 binary diff=lfs merge=lfs filter=lfs

# Video
*.asf                binary diff=lfs merge=lfs filter=lfs
*.avi                binary diff=lfs merge=lfs filter=lfs
*.flv                binary diff=lfs merge=lfs filter=lfs
*.mov                binary diff=lfs merge=lfs filter=lfs
*.mp4                binary diff=lfs merge=lfs filter=lfs
*.mpeg               binary diff=lfs merge=lfs filter=lfs
*.mpg                binary diff=lfs merge=lfs filter=lfs
*.ogv                binary diff=lfs merge=lfs filter=lfs
*.wmv                binary diff=lfs merge=lfs filter=lfs
 
# Images
*.bmp                binary diff=lfs merge=lfs filter=lfs
*.exr                binary diff=lfs merge=lfs filter=lfs
*.gif                binary diff=lfs merge=lfs filter=lfs
*.hdr                binary diff=lfs merge=lfs filter=lfs
*.iff                binary diff=lfs merge=lfs filter=lfs
*.jpeg               binary diff=lfs merge=lfs filter=lfs
*.jpg                binary diff=lfs merge=lfs filter=lfs
*.pict               binary diff=lfs merge=lfs filter=lfs
*.png                binary diff=lfs merge=lfs filter=lfs
*.psd                binary diff=lfs merge=lfs filter=lfs
*.tga                binary diff=lfs merge=lfs filter=lfs
*.tif                binary diff=lfs merge=lfs filter=lfs
*.tiff               binary diff=lfs merge=lfs filter=lfs
*.webp               binary diff=lfs merge=lfs filter=lfs
*.aseprite           binary diff=lfs merge=lfs filter=lfs

# Compressed Archive
*.7z                binary diff=lfs merge=lfs filter=lfs
*.bz2               binary diff=lfs merge=lfs filter=lfs
*.gz                binary diff=lfs merge=lfs filter=lfs
*.rar               binary diff=lfs merge=lfs filter=lfs
*.tar               binary diff=lfs merge=lfs filter=lfs
*.zip               binary diff=lfs merge=lfs filter=lfs

# Compiled Dynamic Library
*.dll               binary diff=lfs merge=lfs filter=lfs
*.pdb               binary diff=lfs merge=lfs filter=lfs
*.so                binary diff=lfs merge=lfs filter=lfs

# Fonts
*.otf               binary diff=lfs merge=lfs filter=lfs
*.ttf               binary diff=lfs merge=lfs filter=lfs

# Executable/Installer
*.exe               binary diff=lfs merge=lfs filter=lfs

# Collapse Unity-generated files on GitHub
*.asset             linguist-generated
*.mat               linguist-generated
*.meta              linguist-generated
*.prefab            linguist-generated
*.unity             linguist-generated
